<form class="ship_form" [formGroup]="shipmentForm" >
    <h1>Shipping info</h1>

    <mat-form-field appearance="fill">
        <mat-label>Parcel SKU</mat-label>
        <input matInput placeholder="ParcelSKU" formControlName="parcelSKU">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Street Adress</mat-label>
        <input matInput placeholder="streetAdress" formControlName="streetAdress">
    </mat-form-field>

    <app-country-selector [locationForm]="locForm"  (locationEventEmitter)="formOnAction($event)"></app-country-selector>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="deliveryDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="form_buttons">
        <app-button color="primary" text="Submit" (btnClick)="submitInfo()"> </app-button>
    </div>

</form>